body{
    color:#5582d6;
    font-family:'Quicksand', sans-serif;
}
h4{
    color:blueviolet;
}
header{
    background:url("../img/fondo-header.jpeg");
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    height:100vh;
}
#burger{
    font-size: 30px;
    color: black;
    background: rgba(255,255,255,0.3)
}
select{
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
}
#contact{
    background:#717070;
}
footer{
    background:#b5b0b0;
}
#contact a{
    color:aliceblue;
}
.contenedor{
    width: 75%;
    align-content: center;
}
@media(max-width: 576px){
    .contenedor{
        width:100%;
    }
}
